<link rel="stylesheet" href="/css/createPost.css" />
<%if(locals.user){%>
<div class="post-feed">
  <h1>Create A Post</h1>

  <form action="/post/create" id="new-post-form" method="POST">
    <div style="height: 25vh" class="create-post-cont">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type here...."
        class="post-input"
      ></textarea>
      <div style="height:0px;overflow:hidden">
      <input
        type="file"
        name="image"
        placeholder="image"
        class="input-field"
        id="fileInput"
      />
    </div><img
        src="https://cdn-icons-png.flaticon.com/512/833/833281.png"
        style="height: 30px; width: 30px; display: block"
        class="image-icon"
        onclick="chooseFile();"
      />
    </div>
    <input type="submit" value="Post" class="post-button" />
  </form>
</div>
<%}%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function chooseFile() {
       $("#fileInput").click();
    }
 </script>
