.post-input{
    margin: 10px;
    width: 55vw;
    outline: none;
    height: 15vh;
    display: inline-block;
    border: 0px;
    border-bottom: 2px solid blue;
}
.post-button{
    margin: 10px;
    padding: 5px 30px;
    background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
    border: 2px solid blue;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    position: relative;
    bottom: 3vh;
}
.post-button:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.post-feed{
    /* width: 70vw;
    margin: 20px;
    margin-top:100px; */
    /* margin: 10px 17vw; */
    /* background-color: lightgray; */
    /* border: 2px solid black;
    border-radius: 10px; */
    height: 45vh;
    width: 69vw;
    background-color: white;
    margin: 20px;
    position:relative;
    padding: 10px;
      border: 1px solid #77aaff;
      box-shadow:  -1px 1px #77aaff,
           -2px 2px #77aaff,
           -3px 3px #77aaff,
           -4px 4px #77aaff,
           -5px 5px #77aaff;
}
h1{
    font-family: 'Anton', sans-serif;
    margin: 10px;
}
.create-post-cont{
  border: 2px solid black;
  width: 57vw;
  height: 20vh;
  margin-bottom: 20px;
}
.image-icon{
  margin: 10px;
}