.post-list-cont{
    /* border-top:2px solid black ; */
}
.post-cont{
    height: 20vh;
  width: 70vw;
  background-color: white;
  margin: 20px;
  
  padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}
.post-user-name{
    position: relative;
    bottom: 15px;
    margin: 5px;
    font-family: 'Anton', sans-serif;
}
.post-content{
    margin: 10px;
    
}