@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h2{
    font-family: 'Anton', sans-serif;
    margin-left: 11vw;
}
.profile-cont{
    height: auto;
    width: 30vw;
    margin:10px auto ;
    border: 2px solid grey;
    border-radius: 10px;
}
.input-field{
    border: none;
    outline: none;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid black;
    display: block;
    margin:10px;
    margin-left: 6vw;
    width: 18vw;
}
.button{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px ;
    padding: 4px;
    background-color: white;
    text-align: center;
    margin-left: 13vw;
}
.avatar{
    position: relative;
    left: 11vw;
}
.user-follow-details{
    margin-left:8.5vw ;
    margin-top: 4vh;
    margin-bottom:4vh;
}
.follow-button{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px ;
    padding: 4px;
    background-color: #1b74e4;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-left: 12vw;
    width: 5vw;
}
.follow-button:hover{
    background-color: white;
}
h3{
    font-family: 'Anton', sans-serif;
}
.user-name{
    text-align: center;
}
.user-email{
   text-align: center;
}
.following-button{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px ;
    padding: 4px;
    background-color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-left: 12vw;
    width: 5vw;
    color: black;
}
.following-button:hover{
    cursor: pointer;
}